<% if @book.errors.any? %>
  <h3><%= @book.errors.count %>errors prohibited this obj from being saved:</h3>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class='container px-3 px-md-5'>
  <div class='row'>
    <!-- 左カラム（スマホでは上） -->
    <div class='col-12 col-md-3 mb-4'>
      <h2>User info</h2>
      <%= render 'users/info', user: current_user %>
      <h2 class="mt-4">New book</h2>
      <%= render 'form', book: @book %>
    </div>

    <!-- 右カラム（スマホでは下） -->
    <div class='col-12 col-md-8 offset-md-1'>
      <h2>Books</h2>
      <%= render 'index', books: @books %>
    </div>
  </div>
</div>