<% if @book.errors.any? %>
  <h3><%= @book.errors.count %>errors prohibited this obj from being saved:</h3>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class='container-fluid px-3 px-md-5'>
  <div class='row gx-0'>
    <!-- 左カラム（User info / 投稿フォーム） -->
    <div class='col-12 col-md-3 mb-4'>
      <h2>User info</h2>
      <%= render 'users/info', user: current_user %>

      <h2 class="mt-4">New book</h2>
      <%= render 'form', book: @book %>
    </div>

    <!-- 右カラム（Books一覧） -->
    <div class='col-12 col-md-9'>
      <h2>Books</h2>
      <div class="row g-4 my-2 px-2">
        <%= render 'index', books: @books %>
      </div>
    </div>
  </div>
</div>